* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

html,
body,
input,
label
#root {
   min-height: 100%;
   font-family: 'Roboto', sans-serif;}

body {

   display: flex;
   flex-direction: column;
   justify-content: center;
   flex-direction: column;

   background: radial-gradient(
         circle,
         rgba(255, 255, 255, 0.5) 0%,
         rgb(128, 127, 127) 100%
      ),
      url("./assets/background.jpg") no-repeat;
   background-size: cover;
   font-family: 'Roboto', Arial, Helvetica, sans-serif;
   margin: 0 auto;

}

@media screen and (max-width: 600px) {
   .container {
      display: flex;
      width: 380px;
   }
 }
  
 @media screen and (max-width: 480px) {
   .container {
      display: flex;
     width: 300px;
   }
 }



