.activity {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    min-height: 60px;
    font-size: 1.2rem;
}

.activity-body {
    margin: 10px 0;
    padding-top: 15px;
}

.btn-delete-activitty {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    background-color: white;
    color: red;
}

.btn-delete-activitty:hover {
    background-color: #eee;
    color: tomato;
}

.button-component {
    margin: 8px 0;
}

.input-solo {
    border: 1px solid #333;
    border-radius: 5px;
    padding: 1rem;
}
